In [1]:
print ("starting")

starting

In [3]:
print("Installing libraries")
pip install requests

Requirement already satisfied: requests in c:\users\kanna\anaconda3\lib\site-packages (2.32.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\kanna\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kanna\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\kanna\anaconda3\lib\site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kanna\anaconda3\lib\site-packages (from requests) (2024.8.30)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install kaggle

Collecting kaggle
  Downloading kaggle-1.6.17.tar.gz (82 kB)
     ---------------------------------------- 0.0/82.7 kB ? eta -:--:--
     ---------------------------------------- 0.0/82.7 kB ? eta -:--:--
     -------------- ----------------------- 30.7/82.7 kB 330.3 kB/s eta 0:00:01
     ---------------------------- --------- 61.4/82.7 kB 469.7 kB/s eta 0:00:01
     -------------------------------------  81.9/82.7 kB 512.0 kB/s eta 0:00:01
     -------------------------------------  81.9/82.7 kB 512.0 kB/s eta 0:00:01
     -------------------------------------- 82.7/82.7 kB 309.6 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six>=1.10 in c:\users\kanna\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\kanna\anaconda3\lib\site-packages (from kaggle) (2024.8.30)
Requirement already satisfied: python-dateutil in c:\users\kanna\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\kanna\anaconda3\lib\site-packages (from kaggle) (2.32.2)
Requirement already satisfied: tqdm in c:\users\kanna\anaconda3\lib\site-packages (from kaggle) (4.66.4)
Requirement already satisfied: python-slugify in c:\users\kanna\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\kanna\anaconda3\lib\site-packages (from kaggle) (2.2.2)
Requirement already satisfied: bleach in c:\users\kanna\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\kanna\anaconda3\lib\site-packages (from bleach->kaggle) (23.2)
Requirement already satisfied: webencodings in c:\users\kanna\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\kanna\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\kanna\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kanna\anaconda3\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\kanna\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.6.17-py3-none-any.whl size=105795 sha256=89b44c99eb8f25cdfed3d79775bd67d7a6195bd8b083208311fee55c07c93507
  Stored in directory: c:\users\kanna\appdata\local\pip\cache\wheels\46\d2\26\84d0a1acdb9c6baccf7d28cf06962ec80529fe1ad938489983
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.6.17
Note: you may need to restart the kernel to use updated packages.

In [7]:
print("get the file")
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|##########| 200k/200k [00:00<00:00, 238kB/s]
100%|##########| 200k/200k [00:00<00:00, 237kB/s]

License(s): CC0-1.0
Downloading orders.csv.zip to C:\Users\kanna

In [11]:
import zipfile

In [13]:
import os

In [17]:
os.getcwd()

'C:\\Users\\kanna'

In [25]:
print ("unzip the file")
zip_file_path = r"C:\Users\kanna\orders.csv.zip"

In [29]:
extract_to_dir = r"C:\Users\kanna"

In [31]:
os.makedirs(extract_to_dir, exist_ok=True)

In [33]:
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(extract_to_dir)

In [35]:
import pandas as pd

In [43]:
print ("Read the file")
orders=pd.read_csv(r"C:\Users\kanna\orders.csv")

In [45]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Id          9994 non-null   int64
 1   Order Date        9994 non-null   object
 2   Ship Mode         9993 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub Category      9994 non-null   object
 11  Product Id        9994 non-null   object
 12  cost price        9994 non-null   int64
 13  List Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount Percent  9994 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.2+ MB

In [185]:
orders.rename(columns={"Order Id": "Order_Id", "Order Date": "Order_Date", "Ship Mode":"Ship_Mode","Postal Code":"Postal_Code", "Sub Category":"Sub_Category","Product Id":"Product_Id", "cost price":"cost_price", "List Price":"List_Price", "Discount Percent":"Discount_Percent" }, inplace=True)

In [193]:
orders.isnull().sum()

Order_Id            0
Order_Date          0
Ship_Mode           0
Segment             0
Country             0
City                0
State               0
Postal_Code         0
Region              0
Category            0
Sub_Category        0
Product_Id          0
cost_price          0
List_Price          0
Quantity            0
Discount_Percent    0
dtype: int64

In [189]:
orders

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,cost_price,List_Price,Quantity,Discount_Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [191]:
orders[orders.isnull().any(axis=1)]

Empty DataFrame
Columns: [Order_Id, Order_Date, Ship_Mode, Segment, Country, City, State, Postal_Code, Region, Category, Sub_Category, Product_Id, cost_price, List_Price, Quantity, Discount_Percent]
Index: []

In [195]:
orders.fillna("Info Not Vailable", inplace=True)

In [63]:
orders[orders.isnull().any(axis=1)]

Empty DataFrame
Columns: [Order Id, Order Date, Ship Mode, Segment, Country, City, State, Postal Code, Region, Category, Sub Category, Product Id, cost price, List Price, Quantity, Discount Percent]
Index: []

In [201]:
print("trim leading and trailing spaces")
orders = orders.map(lambda x: x.strip() if isinstance(x, str) else x)

In [215]:
orders["discounted_amount"] = (orders["List_Price"] * orders["Discount_Percent"]) / 100
orders["Sale_price"] = orders["List_Price"] - orders["discounted_amount"]
orders["Profit_Percentage"] = ((orders["Sale_price"] - orders["cost_price"]) / orders["cost_price"]) * 100

In [217]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order_Id           9994 non-null   int64
 1   Order_Date         9994 non-null   object
 2   Ship_Mode          9994 non-null   object
 3   Segment            9994 non-null   object
 4   Country            9994 non-null   object
 5   City               9994 non-null   object
 6   State              9994 non-null   object
 7   Postal_Code        9994 non-null   int64
 8   Region             9994 non-null   object
 9   Category           9994 non-null   object
 10  Sub_Category       9994 non-null   object
 11  Product_Id         9994 non-null   object
 12  cost_price         9994 non-null   int64
 13  List_Price         9994 non-null   int64
 14  Quantity           9994 non-null   int64
 15  Discount_Percent   9994 non-null   int64
 16  discounted_amount  9994 non-null   float64
 17  Sale_price         9994 non-null   float64
 18  Profit_Percentage  9487 non-null   float64
dtypes: float64(3), int64(6), object(10)
memory usage: 1.4+ MB

In [221]:
ordersdf=orders[["Order_Id", "Order_Date", "Ship_Mode", "Segment", "Country","City","State","Postal_Code","Region"]]

In [225]:
ordersdf2=orders[["Order_Id","Category","Sub_Category","Product_Id","cost_price","List_Price","Quantity","Discount_Percent","discounted_amount","Sale_price","Profit_Percentage"]]

In [227]:
ordersdf.isnull().sum()

Order_Id       0
Order_Date     0
Ship_Mode      0
Segment        0
Country        0
City           0
State          0
Postal_Code    0
Region         0
dtype: int64

In [229]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\kanna\anaconda3\lib\site-packages (1.1.1)Note: you may need to restart the kernel to use updated packages.

In [107]:
from sqlalchemy import create_engine

In [231]:

username = "jup1user"
password = 'Jup12user'
host = "localhost"
port = "3306"
database = "retails_orders"

connection_string = f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"
engine = create_engine(connection_string)
print("Connected")
try:
    with engine.connect() as connection:
        print("Successfully connected to the MySQL database!")
except Exception as e:
    print("Error connecting to the MySQL database:", e)

Connected
Successfully connected to the MySQL database!

In [233]:
ordersdf.to_sql(name="DFto_Order", con=engine, if_exists="replace", index=False)

C:\Users\kanna\AppData\Local\Temp\ipykernel_24704\999996407.py:1: UserWarning: The provided table name 'DFto_Order' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  ordersdf.to_sql(name="DFto_Order", con=engine, if_exists="replace", index=False)

9994

In [235]:
ordersdf2.to_sql(name="DFto_Order2", con=engine, if_exists="replace", index=False)

C:\Users\kanna\AppData\Local\Temp\ipykernel_24704\3536760326.py:1: UserWarning: The provided table name 'DFto_Order2' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  ordersdf2.to_sql(name="DFto_Order2", con=engine, if_exists="replace", index=False)

9994

In [237]:
query = "SELECT * FROM DFto_Order2;"
with engine.connect() as connection:
        result_df = pd.read_sql(query, con=connection)

In [239]:
result_df

,Order_Id,Category,Sub_Category,Product_Id,cost_price,List_Price,Quantity,Discount_Percent,discounted_amount,Sale_price,Profit_Percentage
0,1,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,6.166667
1,2,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,18.016667
2,3,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-5.000000
3,4,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,20.615385
4,5,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-5.000000
...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-4.000000
9990,9991,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,23.428571
9991,9992,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,15.818182
9992,9993,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-3.000000
9993,9994,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,10.857143